.admin-login {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .admin-login h2 {
    text-align: center;
  }
  
  .admin-login form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-login form div {
    margin-bottom: 10px;
  }
  
  .admin-login form label {
    margin-bottom: 5px;
  }
  
  .admin-login form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-login form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-login form button:hover {
    background-color: #218838;
  }
  

  /* Centering the login form */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.alert-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
